/* 
font-family: 'Roboto Condensed', sans-serif; titulos.
font-family: 'Muli', sans-serif; párrafos.
font-family: 'Abel', sans-serif; Párrafos.
*/

/*header*/

header {
}

header nav {
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #272727;
    padding: 1rem;
    margin: 0;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    padding: 1em;
    font-family: 'Roboto Condensed', sans-serif;
}

/*hero*/

section#hero{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

div.logo img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

div.presentacion {
    padding: 0 2em;

}

div.presentacion h1 {
    font-family: 'Muli', sans-serif;
    font-size: 2.5em;
    padding-bottom: .6em;
    font-weight: lighter;

}

div.presentacion h1 span {
    font-weight: bold;
}

div.presentacion p {
    margin: 0;
    font-size: 1.5em;
    width: 800px;
    font-family: 'Abel', sans-serif;
    font-style: italic;
}

div.presentacion button {
    margin-top: 1.6em;
    background-color: #3DA5CD;
    padding: .5em 2em;
    border: .4px solid black;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em;
}

/*skills*/

section#skills {

}

#skills div.skills h2 {

}

div.tecnologias {

}

.tecnologias div.devhtml {

}

.tecnologias div.devhtml h3 {
    
}

.tecnologias div.devhtml p {
    
}

.tecnologias div.devcss {

}

.tecnologias div.devcss h3 {
    
}

.tecnologias div.devcss p {
    
}


.tecnologias div.devJS {

}

.tecnologias div.devJS h3 {
    
}

.tecnologias div.devJS p {
    
}

#skills div.boton-trabajo button {

}

/*projects*/

section#projects {

}

div.mis-proyectos {

}

.mis-proyectos div.projects {

}

/*footer*/









