/*header*/

header {
}

header nav {
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #272727;
    padding: 1rem;
    margin: 0;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    padding: 1em;
}

/*hero*/

section#hero{

}

div.logo img {

}

div.presentacion {

}

div.presentacion h1 {

}

div.presentacion p {

}

div.presentacion button {

}

/*skills*/

section#skills {

}

#skills div.skills h2 {

}

div.tecnologias {

}

.tecnologias div.devhtml {

}

.tecnologias div.devhtml h3 {
    
}

.tecnologias div.devhtml p {
    
}

.tecnologias div.devcss {

}

.tecnologias div.devcss h3 {
    
}

.tecnologias div.devcss p {
    
}


.tecnologias div.devJS {

}

.tecnologias div.devJS h3 {
    
}

.tecnologias div.devJS p {
    
}

#skills div.boton-trabajo button {

}

/*projects*/

section#projects {

}

div.mis-proyectos {

}

.mis-proyectos div.projects {

}

/*footer*/









