/* 
font-family: 'Roboto Condensed', sans-serif; titulos.
font-family: 'Muli', sans-serif; párrafos.
font-family: 'Abel', sans-serif; Párrafos.
*/

/*header*/

header {
}

header nav {
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #272727;
    padding: 1rem;
    margin: 0;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    padding: 1em;
    font-family: 'Roboto Condensed', sans-serif;
}

li a:hover {
    color: #3274FF;
    transition-duration: .6s;
}

/*hero*/

section#hero{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
}

div.logo img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

div.presentacion {
    padding: 0 2em;

}

div.presentacion h1 {
    font-family: 'Muli', sans-serif;
    font-size: 2.5em;
    padding-bottom: .6em;
    font-weight: lighter;

}

div.presentacion h1 span {
    font-weight: bold;
}

div.presentacion p {
    margin: 0;
    font-size: 1.2em;
    width: 800px;
    font-family: 'Muli', sans-serif;
    font-weight: 100;
}

div.presentacion button {
    margin-top: 1.6em;
    background-color: #3274FF;
    padding: .5em 2em;
    border: .4px solid black;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em;
}

div.presentacion button:hover {
    background-color: #272727;
    transition-duration: 1s;
}

/*skills*/

section#skills {
    background-color: #F4F4F4;
    height: 850px;
}

#skills div.skills h2 {
    font-family: 'Abel', sans-serif;
    font-size: 3em;
    text-align: center;
    padding-top: 3em;
    margin-bottom: 3em;
}

div.tecnologias {
    display: flex;
    height: 300px;
    justify-content: space-around;
}

.tecnologias div.devhtml,
.tecnologias div.devcss,
.tecnologias div.devJS
 {
    flex: 1;
    text-align: center;
    margin: 0;
}

.tecnologias div.devhtml span,
.tecnologias div.devcss span,
.tecnologias div.devJS span {
    font-size: 5em;
}

.tecnologias div.devhtml h3,
.tecnologias div.devcss h3,
.tecnologias div.devJS h3
 {
    font-family: 'Muli', sans-serif;
    font-size: 2em;
}

.tecnologias div.devhtml p,
.tecnologias div.devcss p,
.tecnologias div.devJS p
 {
    text-align: center;
    width: 90%;
    margin-left: 1em;
}

#skills div.boton-trabajo {
    text-align: center;
}

#skills div.boton-trabajo button {
    margin-top: 1.6em;
    background-color: #3274FF;
    padding: .5em 2em;
    border: .4px solid black;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em;
}

#skills div.boton-trabajo button:hover {
    background-color: #272727;
    transition-duration: 1s;
}

/*projects*/

section#projects {
    height: 1000px;
    margin-bottom: 4em;
    text-align: center;
    padding: 0 5em;

}

section#projects h2 {
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 3em;
    margin-top: 3em;
}

section#projects div.mis_proyectos {
    display: flex;
    flex-wrap: wrap;
}

section#projects div.mis_proyectos div.projects {
    flex: 1;
    margin: 1em;
    width: 330px;
    height: 400px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.23);
    border-radius: 10px;

}

div.projects h3 {
    font-family: 'Muli', sans-serif;
}

section#projects div.mis_proyectos div.projects img {
    height: 250px;
    width: 395px;
    border-radius: 10px 10px 0 0;
}

/*footer*/

footer {
    width: 100vw;
    text-align: center;
    background-color: #2F2F2F;
}

footer h3 {
    color: #3274FF;
    padding-top: 2.5em;
    padding-bottom: 1em;
    font-size: 3em;
    font-family: 'Abel', sans-serif;
}

form div.nombre,
form div.mensaje,
form div.asunto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form div.asunto input::placeholder {
    padding: 1em;
    font-family: 'Muli', sans-serif;
}

form div.nombre input.input-1,
form div.nombre input.input-2 {
    flex: 0 0 calc(50% - 10rem);
    margin: 0 1em 2em;
    height: 3em;
    border: 0;
    border-radius: 10px;
}

form div.nombre input.input-1::placeholder,
form div.nombre input.input-2::placeholder {
    font-family: 'Muli', sans-serif;
    padding-left: 1em;
} 

form div.asunto input::placeholder {
    padding-left: .2em;
    font-family: 'Muli', sans-serif;
}

form div.asunto input {
    padding: 1em;
    flex: 0 0 78%;
    margin-bottom: 2em;
}

form div.mensaje textarea::placeholder {
    padding: 1em;
    font-family: 'Muli', sans-serif;
}


div.inputs textarea,
div.inputs input {
    background-color: #272727;
    border: 0;
    flex: 0 0 80%;
    border-radius: 10px;
}

div.inputs::placeholder {
    color: #555555;
}

div.botones {
    display: flex;
    justify-content: center;
    padding: 2em;
}

div.botones button {
    margin: 0 1em;
    height: 73px;
    padding: 0 2.2em;
    border-radius: 10px;
    font-size: 1.3em;
    font-family: 'Abel', sans-serif;
    border: 0;
}

div.botones button:nth-child(1) {
    background-color: #3274FF;
    color: white;
}

div.botones button:nth-child(2) {
    background-color: #272727;
    color: white;
}








